	section.codeExample{
		margin:2em 0;
		h3{
			background:#E2CB6D;
			color:#FFF;
			padding:10px;
			text-shadow: -1px -1px 0 #c1ad5c;
		}
	}
	pre {
		line-height: 1.4;
		overflow: auto;
		background: #151E25; 
		padding:0 2em;
	}
	
	code {
		font-size: 1em;
	}

	h1 span {
		font-size : 0.5em;
	}

	a {
		color : gray;
	}


	 .css .comment {
	 	color : #283845;
	 }

	.css .classes{
		color:red;
	}
	.css .properties {
		color : #366a93;
	}

	.css .selectors {
		color : #E2CB6D;
	}

	.css .units {
		color :#ff8080;
	}

	.css .urls {
		color :#80ffbf;
	}




	.html .tag {
		color : purple;
	}

	.html .attribute{
		color:red;
	}

	.html .comment {
		color : gray;
		font-style: italic;
	}

	.html .string {
		color : navy;
	}

	.html .doctype {
		color : teal;
	}









