/* ============================== */
/*
	Fine hand crafted
	Design & Development by
	Jesse Showalter
	http://www.jesseshowalter.com
*/
/* ============================== */
/*Import Stylesheets*/
.onecol {
  width: 4.7%; }

.twocol {
  width: 13.2%; }

.threecol {
  width: 22.05%; }

.fourcol {
  width: 30.6%; }

.fivecol {
  width: 39%; }

.sixcol {
  width: 48%; }

.sevencol {
  width: 56.75%; }

.eightcol {
  width: 61.6%; }

.ninecol {
  width: 74.05%; }

.tencol {
  width: 82%; }

.elevencol {
  width: 91.35%; }

/* CSS Resets */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  margin: 0;
  padding: 0; }

article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object {
  display: block; }

a img {
  border: 0; }

figure {
  position: relative; }

figure img {
  width: 100%; }

/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */
.container {
  padding-left: 20px;
  padding-right: 20px; }

.row {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
  overflow: hidden; }

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px; }

.row .onecol {
  width: 4.85%; }

.row .twocol {
  width: 13.45%; }

.row .threecol {
  width: 22.05%; }

.row .fourcol {
  width: 30.75%; }

.row .fivecol {
  width: 39.45%; }

.row .sixcol {
  width: 48%; }

.row .sevencol {
  width: 56.75%; }

.row .eightcol {
  width: 65.4%; }

.row .ninecol {
  width: 74.05%; }

.row .tencol {
  width: 82.7%; }

.row .elevencol {
  width: 91.35%; }

.row .twelvecol {
  width: 100%;
  float: left; }

.last {
  margin-right: 0px; }

img, object, embed {
  max-width: 100%; }

img {
  height: auto; }

/* Smaller screens */
/* Mobile */
@media handheld, only screen and (max-width: 767px) {
  body {
    -webkit-text-size-adjust: none; }

  .row, body, .container {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px; }

  .row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px; }

  #riseUp .row .onecol, #riseUp .row .twocol, #riseUp .row .threecol, #riseUp .row .fourcol, #riseUp .row .fivecol, #riseUp .row .sixcol, #riseUp .row .sevencol, #riseUp .row .eightcol, #riseUp .row .ninecol, #riseUp .row .tencol, #riseUp .row .elevencol, #riseUp .row .twelvecol {
    margin-bottom: 30px; } }
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  position: relative;
  /* border: 4px solid #fff;   -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); */
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  width: 38px;
  height: 50px;
  margin: -20px 0 0;
  display: block;
  background: url(img/bg_direction_nav3.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all 0.3s ease; }

.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px; }

.flex-direction-nav .flex-prev {
  left: -36px; }

.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px; }

.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: .3!important;
  filter: alpha(opacity=30);
  cursor: default; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0; } }
section.codeExample {
  margin: 2em 0; }
  section.codeExample h3 {
    background: #E2CB6D;
    color: #FFF;
    padding: 10px;
    text-shadow: -1px -1px 0 #c1ad5c; }

pre {
  line-height: 1.4;
  overflow: auto;
  background: #151E25;
  padding: 0 2em; }

code {
  font-size: 1em; }

h1 span {
  font-size: 0.5em; }

a {
  color: gray; }

.css .comment {
  color: #283845; }

.css .classes {
  color: red; }

.css .properties {
  color: #366a93; }

.css .selectors {
  color: #E2CB6D; }

.css .units {
  color: #ff8080; }

.css .urls {
  color: #80ffbf; }

.html .tag {
  color: purple; }

.html .attribute {
  color: red; }

.html .comment {
  color: gray;
  font-style: italic; }

.html .string {
  color: navy; }

.html .doctype {
  color: teal; }

/* Color Variables*/
/* Font Variables */
::selection {
  background: #e2cb6d;
  color: white; }

/* Safari */
::-moz-selection {
  background: #e2cb6d;
  color: white; }

/* Firefox */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
a:link, a:visited {
  color: #e2cb6d;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  -mox-transition: all 0.1s linear;
  transition: all 0.1s linear; }

a:hover {
  color: #151e25; }

a:active {
  color: #e2cb6d; }

body {
  font-family: "Bitter", serif;
  background: #FFF;
  color: #151e25;
  color: #d9d9d9;
  font-size: 20px; }

/* Navigation Styles */
nav {
  margin: 0 4px 4px;
  background: #FFF;
  overflow: hidden;
  -webkit-box-shadow: 4px 4px 0 #e2cb6d;
  -mox-box-shadow: 4px 4px 0 #e2cb6d;
  box-shadow: 4px 4px 0 #e2cb6d; }
  nav ul {
    float: right; }
  nav li {
    list-style: none;
    float: left; }
  nav a:link, nav a:visited {
    padding: 10px;
    line-height: 60px;
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out;
    -mox-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: #272727;
    font-size: 1em;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase; }
  nav a:hover {
    color: #e2cb6d; }
  nav a:active {
    color: #272727; }
  nav li:last-child a {
    text-indent: -9999px;
    background: url("img/mag.gif") no-repeat center;
    width: 22px;
    height: 22px;
    padding: 20px;
    border-left: 1px solid #a5a5a5;
    background-size: 1em;
    -webkit-transition: all 0.1s ease-in-out;
    -mox-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    nav li:last-child a:hover {
      background-size: 1.2em; }
  nav a.brand {
    text-indent: -9999px;
    padding: 0;
    margin: 8px 0 0 10px;
    background: url("img/logo.gif") no-repeat center;
    width: 38px;
    height: 44px;
    float: left; }
  nav span {
    color: #191919;
    color: #272727;
    font-size: 1em;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1em;
    float: left;
    margin: 15px 0 0 10px; }

/* Container Styles */
.container_blue {
  background: #151e25; }
  .container_blue h2 {
    text-align: center;
    font-size: 2.8em;
    font-weight: 100;
    padding: 50px 0;
    line-height: 1.4em; }
    .container_blue h2 a:hover {
      background: #e2cb6d; }

.wrapper {
  background: #FFF;
  margin-bottom: -80px;
  position: relative; }

.wrapper:before {
  content: "";
  height: 91.5%;
  width: 20px;
  background: #FFF;
  position: absolute;
  left: 99.5%; }

.headerHome {
  background: #151e25 url("img/headerHome.jpg") no-repeat center;
  background-size: cover;
  color: #FFF;
  min-height: 300px; }

/* Portfolio Styles */
.grid {
  overflow: hidden;
  padding: 0;
  max-width: 1540px;
  margin: 0 4px 4px;
  background: #FFF;
  -webkit-box-shadow: 4px 4px 0 #e2cb6d;
  -mox-box-shadow: 4px 4px 0 #e2cb6d;
  box-shadow: 4px 4px 0 #e2cb6d; }
  .grid li {
    list-style: none; }
  .grid li > a div {
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 4em 2em;
    text-align: center;
    -webkit-transition: all 0.1s ease-in-out;
    -mox-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    .grid li > a div img {
      max-height: 90px;
      width: auto; }
  .grid div h2 {
    color: #272727;
    font-size: 1em;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px; }
  .grid div h3 {
    font-family: "Bitter", serif;
    color: #9C9C9C;
    font-style: italic;
    font-size: 12px;
    font-weight: 100;
    -webkit-transition: all 0.1s ease-in-out;
    -mox-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  .grid div:hover h3 {
    color: white; }
  .grid li a div:hover {
    background: #e2cb6d;
    padding: 4.5em 2em 3.5em 2em; }
  .grid li a > div.omega {
    border-right: none; }
  .grid li a {
    color: #fff; }

@media all and (min-width: 27em) {
  .grid li {
    width: 50%;
    float: left; } }
@media all and (min-width: 40em) {
  .grid li {
    width: 33.3333333%; }

  .grid li.wide {
    width: 66.666666%; } }
@media all and (min-width: 60em) {
  .grid li {
    width: 33.3%; }

  .grid li.wide {
    width: 50%; } }
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16/9 ratio */
  padding-top: 30px;
  /* IE6 workaround*/
  height: 0;
  overflow: hidden; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Footer Styles */
footer div {
  padding: 25px 0 25px 0;
  text-align: center;
  line-height: 1.4em;
  position: relative;
  margin-top: 80px; }
  footer div h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 300; }
  footer div .twitter {
    text-align: right;
    background-image: url("img/quoteL.png"), url("img/quoteR.png");
    background-position: 5% 5%, 95% 95%;
    background-repeat: no-repeat, no-repeat; }
    footer div .twitter a:hover {
      background: #e2cb6d; }
  footer div .backToTop {
    background: url("img/backToTop.jpg") center center no-repeat;
    text-indent: -9999px;
    margin-top: 6em; }
    footer div .backToTop a:link {
      width: 64px;
      height: 78px;
      float: left; }
  footer div .blogRoll {
    text-align: left;
    background-image: url("img/quoteL.png"), url("img/quoteR.png");
    background-position: 5% 5%, 95% 95%;
    background-repeat: no-repeat, no-repeat; }
    footer div .blogRoll a:hover {
      background: #e2cb6d; }

/* Interior Page Styles */
.headerAbout {
  background: #151e25 url("img/headerAbout.jpg") no-repeat center;
  background-size: cover;
  color: #FFF;
  min-height: 470px; }

.mainBody {
  position: relative; }
  .mainBody p {
    font-family: "Bitter", serif;
    font-weight: 100;
    font-size: 20px;
    color: #666666;
    line-height: 2em;
    margin-bottom: 1.4em; }
  .mainBody img {
    width: 100%; }

#riseUp {
  max-width: 1450px;
  margin: -200px auto -40px auto;
  padding: 2em;
  background: white;
  position: relative;
  -webkit-box-shadow: 4px 4px 0 #e2cb6d;
  -mox-box-shadow: 4px 4px 0 #e2cb6d;
  box-shadow: 4px 4px 0 #e2cb6d; }

#riseUpTwo {
  max-width: 1525px;
  margin: -200px auto -40px auto;
  padding: 0;
  background: white;
  position: relative;
  -webkit-box-shadow: 4px 4px 0 #e2cb6d;
  -mox-box-shadow: 4px 4px 0 #e2cb6d;
  box-shadow: 4px 4px 0 #e2cb6d; }

.cakeTop {
  margin: -50px 0 0 0;
  border-bottom: 1px solid #dddddd;
  padding-top: 112px; }
  .cakeTop h3 {
    color: #272727;
    font-size: 1em;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: .9em;
    color: #9C9C9C; }
  .cakeTop .broach {
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 200px;
    margin-left: -100px;
    margin-top: -144px;
    left: 50%; }

.aboutInfo {
  margin: 40px 0 0 0; }
  .aboutInfo h2 {
    color: #272727;
    font-size: 1em;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 0.2em; }
  .aboutInfo h3 {
    color: #356382;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.0em;
    font-style: italic;
    margin-bottom: 1em; }
  .aboutInfo img {
    margin: 0 auto; }

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.social {
  float: right;
  margin-top: -30px; }
  .social ul {
    float: right;
    left: 100%; }
  .social li {
    float: left;
    list-style: none; }
    .social li a:link, .social li a:visited {
      float: left;
      width: 20px;
      height: 20px;
      background: url("img/social.gif") no-repeat 5px 0;
      margin-left: 5px;
      margin-top: 5px; }
    .social li a.facebook:hover {
      background-position: 5px -19px; }
    .social li a.twitter:link {
      background-position: -26px 0; }
    .social li a.twitter:hover {
      background-position: -26px -19px; }
    .social li a.forrst:link {
      background-position: -57px 0; }
    .social li a.forrst:hover {
      background-position: -57px -19px; }
    .social li a.dribbble:link {
      background-position: -91px 0; }
    .social li a.dribbble:hover {
      background-position: -91px -19px; }

.interiorInfo {
  margin: 0; }
  .interiorInfo h2 {
    color: #272727;
    font-size: 1em;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.4em;
    margin-bottom: 0.2em; }
  .interiorInfo h3 {
    color: #356382;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.0em;
    font-style: italic;
    margin-bottom: 1em; }
  .interiorInfo img {
    margin: 0 auto; }

.downloads {
  margin-top: 10px; }
  .downloads li {
    float: left;
    display: inline;
    list-style: none;
    width: 29.333333%;
    text-align: left;
    padding-left: 24px;
    height: 26px;
    background: url("img/iconDocuments.gif") no-repeat;
    -webkit-transition: all 0.1s ease-in-out;
    -mox-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    .downloads li.resume {
      background-position: 0 3px; }
    .downloads li.cv {
      background-position: 0 -24px; }
    .downloads li.portfolio {
      background-position: 0 -49px; }
    .downloads li:hover {
      padding-left: 28px;
      margin-right: -4px; }

.toolBox h2 {
  font-size: 1.2em; }

ul.toolbelt1 li:nth-child(odd) {
  background: #f5f5f5; }

ul.toolbelt2 li:nth-child(even) {
  background: #f5f5f5; }

li.tool {
  font-family: "Bitter", serif;
  color: #666666;
  list-style: none;
  line-height: 2em;
  padding-left: 10px;
  font-size: .9em; }
  li.tool span {
    font-family: "Bitter", serif;
    color: #666666;
    text-transform: capitalize;
    font-style: italic;
    font-size: .7em; }

/* Blog Page Styles */
.headerBlog {
  background: #151e25 url("img/headerBlog.jpg") no-repeat center;
  background-size: cover;
  color: #FFF;
  min-height: 450px; }

.blogMeta time {
  float: left;
  color: #356382;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.0em;
  font-style: italic;
  text-transform: capitalize; }
.blogMeta h3 {
  float: left;
  color: #d9d9d9;
  text-transform: capitalize;
  margin-left: 10px; }
.blogMeta p {
  clear: left;
  -webkit-transition: all 0.1s ease-in-out;
  -mox-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.blogContainer {
  margin: 0; }
  .blogContainer .sixcol {
    margin-right: 0;
    width: 50%; }
  .blogContainer article {
    float: left;
    padding: 4%;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    -webkit-transition: all 0.1s ease-in-out;
    -mox-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    .blogContainer article:hover {
      background: #e2cb6d;
      padding: 6% 4% 2% 4%; }
      .blogContainer article:hover p {
        color: white;
        text-shadow: 1px 1px 0 #a99750; }
      .blogContainer article:hover h3 {
        color: #a99750; }
    .blogContainer article.last {
      border-right: none; }
  .blogContainer h2 {
    color: #272727;
    font-size: 1em;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 0.2em; }
  .blogContainer h3 {
    -webkit-transition: all 0.1s ease-in-out;
    -mox-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: #356382;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.0em;
    font-style: italic;
    color: #CCC;
    text-shadow: 1px 1px 0 white;
    margin-bottom: 1em; }
  .blogContainer img {
    margin: 0 auto; }

.blogPost {
  text-align: center; }
  .blogPost h2 {
    font-size: 4em;
    font-family: "Bitter", serif;
    text-transform: none;
    margin: 0.5em 0 0;
    color: #272727; }
  .blogPost h3 {
    color: #272727;
    font-size: 1em;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.4em; }
    .blogPost h3 span {
      font-family: "Bitter", serif;
      color: #666666;
      text-transform: capitalize;
      font-style: italic;
      font-size: .7em; }
  .blogPost article {
    width: 75%;
    margin: 2em auto 0;
    text-align: justify; }
    .blogPost article strong {
      color: #e2cb6d;
      font-size: 3.7em;
      float: left;
      margin: 18px 12px 0 0; }

/* Contact Page Styles */
.headerContact {
  background: #151e25 url("img/headerContact.jpg") no-repeat center;
  background-size: cover;
  color: #FFF;
  min-height: 450px; }

.slidingDiv {
  height: 36px;
  width: 90%;
  max-width: 320px;
  background-color: #E2CB6D;
  margin: 0;
  padding: 8px 0px 14px 14px;
  overflow: visible;
  float: right; }
  .slidingDiv input[type=text] {
    margin: 0;
    font-size: 1em;
    padding: 5px;
    /* Overridden by padding: 1px; */
    border: 1px solid #a79650;
    /* Overridden by border: 2px inset; */
    background: white;
    width: 50%;
    /* Overridden by background-color: white; */ }
  .slidingDiv input[type=button] {
    background: #a79650;
    border: none;
    font-size: 1em;
    padding: 3px;
    color: #FFF;
    border: 1px solid #908246;
    width: 39%; }

.show_hide {
  display: none; }

/* Project Page Styles */
.headerWork {
  background: #151e25 url("img/headerWork.jpg") no-repeat center;
  background-size: cover;
  color: #FFF;
  min-height: 450px; }

.project .row {
  border-bottom: 1px dashed #aaaaaa;
  padding: 80px 0; }
  .project .row h2 {
    color: #272727;
    font-size: 1em;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 10px; }
  .project .row:first-child {
    padding-top: 40px; }
.project .logo {
  text-align: center; }
  .project .logo img {
    max-width: 200px;
    height: auto;
    border: none;
    margin-bottom: 20px; }
.project .arrow {
  background: url("img/arrows.jpg") no-repeat;
  padding: 4px; }
.project .next {
  float: right;
  color: transparent;
  font-size: 0.8em;
  margin-bottom: -30px;
  padding-right: 40px;
  background-position: 100% -26px;
  height: 20px; }
  .project .next span {
    display: none; }
  .project .next:hover {
    color: #e2cb6d;
    text-indent: 0; }
    .project .next:hover span {
      display: block; }
.project .prev {
  float: left;
  color: transparent;
  font-size: 0.8em;
  margin-bottom: -30px;
  padding-left: 40px;
  background-position: 0 0;
  height: 20px; }
  .project .prev span {
    display: none; }
  .project .prev:hover {
    color: #e2cb6d;
    text-indent: 0; }
    .project .prev:hover span {
      display: block; }
.project .quote {
  font-size: 1.3em;
  text-align: center;
  color: #999;
  background-image: url("img/quoteL.png"), url("img/quoteR.png");
  background-position: 0 0, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  padding: 40px 0; }
.project .testimony h3 {
  font-style: italic; }

ul.roles {
  margin-top: -15px; }
  ul.roles li {
    float: left;
    list-style: none;
    margin-right: 20px;
    padding-left: 15px;
    background: url(img/bullet.gif) no-repeat left;
    color: #272727;
    font-size: 1em;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: .8em;
    color: #999; }

.otherProjects {
  border-bottom: none !important;
  padding-bottom: 0 !important; }
  .otherProjects h2 {
    text-align: center; }
  .otherProjects .grid {
    box-shadow: none; }
  .otherProjects .grid li > a div {
    border: none; }

ul.tech li {
  float: left;
  width: 20%;
  margin-right: 13%;
  height: auto;
  list-style: none; }

/*
Back to top button 
*/
#back-top {
  position: fixed;
  bottom: 0;
  right: 0; }

#back-top a {
  width: 40px;
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbb;
  /* background color transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s; }

#back-top a:hover {
  color: #000; }

/* arrow icon (span tag) */
#back-top span {
  width: 40px;
  height: 40px;
  display: block;
  margin-bottom: 0px;
  background: #e2cb6d url(img/up-arrow2.png) no-repeat center center;
  /* rounded corners */
  /* background color transition */
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s; }

#back-top a:hover span {
  background-color: rgba(0, 0, 0, 0.5); }

/* ============================= */
/* ! Layout for Mid Screens   */
/* ============================= */
@media handheld, only screen and (max-width: 1300px) {
  .downloads li {
    display: block;
    float: none;
    width: 100%; } }
/* ============================= */
/* ! Layout for Tablets   */
/* ============================= */
@media handheld, only screen and (max-width: 767px) {
  .blogPost article {
    text-align: left; }

  ul.tech {
    padding-bottom: 150px !important; }

  .blogContainer .sixcol {
    width: 100%;
    padding: 0; }

  .social {
    margin-top: 0; }

  .projects {
    margin-bottom: -40px; }

  footer div {
    padding: 25px 0 25px 0; }

  .grid li a > div {
    border: none !important; }

  .grid {
    -webkit-box-shadow: none;
    -mox-box-shadow: none;
    box-shadow: none; }

  .backToTop {
    margin-top: -20px !important;
    margin-bottom: -80px !important; }

  .twitter {
    margin-top: 40px; }

  .aboutInfo h2 {
    margin-top: 0px; }

  .cakeTop h3 {
    float: left;
    text-align: center; }
  .cakeTop .broach {
    margin-top: -170px; }

  .slidingDiv {
    margin: -4px 4px 0 0; } }
/* ============================= */
/* ! Layout for small devices    */
/* ============================= */
@media handheld, only screen and (max-width: 580px) {
  nav span {
    display: none; } }
@media handheld, only screen and (max-width: 500px) {
  nav a:link, nav a:hover, nav a:visited, nav a:active {
    font-size: .9em;
    padding: 5px; }
  nav li:last-child {
    padding-left: 5px; }
  nav a.brand {
    background-size: 1.6em;
    width: 28px;
    padding: 0; }

  .blogPost h2 {
    font-size: 2.6em; }

  .container_blue {
    min-height: 400px; }
    .container_blue h2 {
      font-size: 1.8em;
      line-height: 1.3em;
      padding: 45px 0 0; }

  .container_blue.headerAbout {
    min-height: 470px; }

  .container_blue.headerWork {
    min-height: 400px; }

  .headerHome h2 span {
    display: none; } }
/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /*	.logo {
  		background: url(logo2x.jpg) no-repeat;
  		background-size: 212px 303px;
  	}*/ }
.tweet, .query {
  color: #FFF;
  text-align: right;
  margin-top: -25px;
  margin-bottom: -20px;
  z-index: 100; }

.tweet_list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  background-color: transparent; }

.tweet_list li {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  list-style-type: none; }

.tweet_list li a {
  color: #e2cb6d; }

.tweet_list .tweet_avatar {
  display: none; }
