/* Contact Page Styles */ 

.headerContact{
	background:$baseBlue url("../img/headerContact.jpg") no-repeat center;
	background-size: cover ;
	color:#FFF;
	min-height: 450px;
}


.slidingDiv {
    height:36px;
    width:90%;
    max-width:320px;
    background-color:#E2CB6D;
    margin:0;
    padding:8px 0px 14px 14px;
    overflow: visible;
    float:right;

    input[type=text]{
    	margin:0;
    	font-size: 1em;
	    padding: 5px;            /* Overridden by padding: 1px; */
		border: 1px solid #a79650;  /* Overridden by border: 2px inset; */
		background: white;
		// max-width:200px;
		width:50%;          /* Overridden by background-color: white; */
	    }
	input[type=button]{
		background:#a79650;
		border:none;
		font-size: 1em;
		padding:3px;
		color:#FFF;
		border:1px solid #908246;
		width:39%;
	}
}
 
.show_hide {
    display:none;
}