/* Interior Page Styles */ 

.headerAbout{
	background:$baseBlue url("../css/img/headerAbout.jpg") no-repeat center;
	background-size: cover ;
	color:#FFF;
	min-height: 470px;

	@media #{$break-small}{
		min-height: 470px;
	}
}

#riseUp{
	max-width:1450px;
	margin:0 auto;
	padding:2em;
	background:white;
	position:relative;

	@media #{$break-mid} {
		padding:2em 0.3em;
	}
}

#riseUpTwo{  //this rise up box has no internal padding
	max-width:1525px;
	margin:0 auto;
	padding:0;
	background:white;
	position:relative;

	.cakeTop{
		width:90%;
		margin:-50px auto 0;
	}
}

.aboutInfo{
	margin:50px 0;
	h2{
		@include dark-serif;
		font-size: 1.5em;
		margin-bottom:0.2em;
	}
	h3{
		@include blue-italic;
		margin-bottom:1em;
	}
	img{
		margin:0 auto;
	}

	@media #{$break-mid} {
		h2{margin-top:0px;}
	}
}

ul.socialIcons{
	width:450px;
	margin:0 auto;
	padding-top:320px;

	@media #{$break-small}{
		width:150px;
		padding-top:60px;
	}

	li{
		list-style: none;

		a{
			float:left;
			width:65px;
			height:65px;
			margin:5px;

			&.dribbble{
				background:url("img/dribbble.png") no-repeat;
			}
			&.youtube{
				background:url("img/youtube.png") no-repeat;
			}
			&.twitter{
				background:url("img/twitter.png") no-repeat;
			}
			&.forrst{
				background:url("img/forrst.png") no-repeat;
			}
			&.linkedin{
				background:url("img/linkedin.png") no-repeat;
			}
			&.github{
				background:url("img/github.png") no-repeat;
			}
		}
		a:hover{
			opacity:0.8;
		}
	}
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.interiorInfo{
	margin:0;
	h2{
		@include dark-serif;
		font-size: 1.4em;
		margin-bottom:0.2em;
	}
	h3{
		@include blue-italic;
		margin-bottom:1em;
	}
	img{
		margin:0 auto;
	}
}

.toolBox, .bookShelf{
	h2{
		//font-size: 1.2em;
		margin-bottom:10px;
	}
}
ul.toolbelt1 li{
	&:nth-child(odd){
		background:#f5f5f5;
	}
}
ul.toolbelt2 li{
	&:nth-child(even){
		background:#f5f5f5;
	}
}
li.tool{
	font-family: $sans-serif;
	color:#666666;
	list-style:none;
	line-height:2em;
	padding-left:10px;
	font-size: .9em;
	@include oneBigSec;

	&:hover{
		padding-left:14px;
		cursor: pointer;
		background:#f2f7fa;
	}
	span{
		font-family: $sans-serif;
		color:#666666;
		text-transform: capitalize;
		font-style: italic;
		font-size: .7em;
	}
}

.bookShelf{
	li{
		float:left;
		display:inline;
		margin-right: 12%;
    	width: 25%;
	}

	li:last-child{
		margin-right:0;
	}
}

