/* Project Page Styles */
.headerWork{
	background:$baseBlue url("../img/memorateBanner.jpg") no-repeat center;
	background-size: cover ;
	color:#FFF;
	min-height: 450px;

	@media #{$break-small}{
		min-height: 400px;
	}
} 

.project{
	.row{
		border-bottom:1px solid #CCCCCC;
		padding:80px 0;
		&:last-of-type, &:last-child{
			border-bottom:none;
		}

		h1,h2{
			@include dark-serif;
			font-size: 1.5em;
			margin-bottom:10px;
		}
		&:first-child{
			padding-top:40px;
		}
	}

	.logo{
		text-align:center;
		img{
			max-width:200px;
			height:auto;
			border:none;
			margin-bottom:20px;
		}

		a{
			border:1px solid $goldyLocks;
			padding:15px;

			&:hover{
				background:lighten($quickSilver, 12%);
			}
		}
	}
	.details{

	}
	.arrow{
		background:url("../img/arrows.jpg") no-repeat;
		padding:4px;
	}
		.next{
		float:right;
		color:transparent;
		font-size: 0.8em;
		margin-bottom:-30px;
		padding-right:40px;
		background-position:100% -26px;
		height:20px;
			span{
				display:none;
			}
			&:hover{
				color:$goldyLocks;
				text-indent: 0;
				span{
					display:block;
				}
			}

	}
	.prev{
		float:left;
		color:transparent;
		font-size: 0.8em;
		margin-bottom:-30px;
		padding-left:40px;
		background-position:0 0;
		height:20px;
			span{
				display:none;
			}
			&:hover{
				color:$goldyLocks;
				text-indent: 0;
				span{
					display:block;
				}
			}
	}
	.quote{
		font-size: 1.3em;
		text-align: center;
		color:#999;
		background-image:url("../img/quoteL.png"), url("../img/quoteR.png");
		background-position:0 0, 100% 100%;
		background-repeat:no-repeat, no-repeat;
		padding:40px 0;
	}

	.testimony{
		h3{
			font-style: italic;

		}

	}		
}

ul.roles{
	margin-top:-15px;
	li{
		float:left;
		list-style: none;
		margin-right:20px;
		padding-left:15px;
		background:url(../img/bullet.gif) no-repeat left;
		@include dark-serif;
		font-size: .8em;
		color:#999;
	}
}

.otherProjects{
	border:none !important;
	padding-bottom:0 !important;

	.grid{ border:none !important;}
	h2{
		text-align: center;
	}
	.grid{
		box-shadow: none;
	}
	.grid li > a div{
		border:none;
	}
}
ul.tech{
	@media #{$break-mid} {
		padding-bottom:150px !important;
	}
	li{
		float:left;
		width: 20%;
		margin-right:13%;
		height:auto;
		list-style: none;
	}

}