/* Navigation Styles */ 
nav{
	margin:0 4px 4px;
	padding:15px;
	overflow:hidden;     

	ul{
		float:right;
	}
		li{
			list-style: none;
			float:left;
		}
		a:link, a:visited{
			padding: 10px;
			line-height: 60px;
			text-decoration: none;
			@include oneSec;
			@include dark-serif;
			color:white;
		}
		a:hover{ color:$goldyLocks;}
		a:active{ color:#272727; }



	a.brand{
		text-indent: -9999px;
		padding:0;
		margin:8px 0 0 10px;
		background:url("../css/img/logo_white.png") no-repeat center;
		width:48px;
		height:52px;
		float:left;
	}
	span{
		color:#191919;
		@include dark-serif;
		font-size: 1em;
		float: left;
		margin:15px 0 0 10px;
	}
}