/* ============================= */
/* ! Layout for Mid Size Screens   */
/* ============================= */	
@media handheld, only screen and (max-width: 1300px) {
	.grid{border-left:none;}
	.downloads{
		li{
			display:block;
			float:none;
			width:100%;
		}
	}

}

/* ============================= */
/* ! Layout for bigger tablet/smaller screen  */
/* ============================= */	

@media handheld, only screen and (max-width: 1100px) {
	.newBlogList #blogGridList{
		margin:30px 2% 30px 3.5%;
		overflow:hidden;

		article{
			width: 31.33333%;
			overflow: hidden;
			text-overflow: ellipsis;
			max-height:400px;
			font-size:1em;
		}
	}

}


/* ============================= */
/* ! Layout for Tablets   */
/* ============================= */	
@media handheld, only screen and (max-width: 920px) {
	.grid li a > div{
		border:none !important;
	}

}

@media handheld, only screen and (max-width: 767px) {

	body {

		.blogPost article p strong{
			font-family:$bitter;
			color:$goldyLocks;
			font-size: 20px;
			float:none;
			margin:0;
			padding:0;
		}

		form.sisea-search-form{
			margin:0px auto 0 !important;
		}

		div.panel{
			margin:0;
			padding:0;
		}

		div.panel input{
			padding:15px 5%;
			margin-bottom:30px;
		}

		.newBlogPost h2, .blogPost h2, .newBlogList h2{font-size:1.5em !important;}
		
	}

	

	.newBlogPost img, .newBlogPost article strong{
		display:none;
	}

	

	.blogPost article{width:90%;}

	#riseUp{
		padding:2em 0.3em;
	}

	.mainBody p{
		line-height: 1.9;
		font-size: 17px;
	}
	.blogPost article, .newBlogPost article{
		text-align:left !important;
	}

	
	ul.tech{
		padding-bottom:150px !important;
	}

	.blogContainer .sixcol{
		width:100%;
		padding:0;
	}

	.social{
		margin-top:0;
	}

	.projects{
		margin-bottom:-40px;
	}

	footer div{
		padding:25px 0 25px 0;
	}

	.grid li a > div{
		border:none !important;
	}

	.grid {
		-webkit-box-shadow:none;
	       -moz-box-shadow:none;
	            box-shadow:none;
	}

	.backToTop{
		margin-top:-20px !important;
		margin-bottom:-80px !important;
	}
	.twitter{
		margin-top:0px;
	}
	.aboutInfo{
		h2{margin-top:0px;}
	}
	.cakeTop{
		h3{
			float:left;
			text-align: center;
		}
		.broach{
			margin-top:-170px;
		}
		.broachTwo{
			margin-top:-169px !important; 
			margin-left:-85px !important;
			width:170px !important;
		}
	}
	.slidingDiv {
		margin:-4px 4px 0 0;
	}

	div.letterSeperator{
		width: 50%;

		ul{
			margin:0;
		}
	}

	div.letterSeperator span {
		font-size: 1em;
		float: none;
		margin:0;
	}

	.count {
		float: none !important;
		text-align: left !important;
	}

	.newBlogList #blogGridList{
		margin:30px 2% 30px 3.5%;
		overflow:hidden;

		article{
			width: 48%;
			max-height:297px;
		}
	}

	.tagGroups{
		display:none !important;
	}


	

}





/* ============================= */
/* ! Layout for small devices    */
/* ============================= */

@media handheld, only screen and (max-width: 580px) {
	nav span{display:none;}

	.headerHome h2 span{ display:none;}
	
}

@media handheld, only screen and (max-width: 500px) {

	nav{

		a:link, a:hover, a:visited, a:active{
			font-size: .9em;
			padding:5px;
		}

		li:last-child {
			padding-left:5px;
		}

		a.brand{
			background-size:1.6em;
			width:28px;
			padding:0;
		}
	}


	.container_blue{
		min-height: 360px;
		h2{
			font-size: 1.4em;
			line-height:1.3em;
			padding:40px 0;
		}	
	}

	.container_blue.headerAbout {
		min-height: 470px;
	}
	.container_blue.headerWork {
		min-height: 400px;
	}
	.container_blue.headerBlog {
		min-height: 470px;
	}

	.container_blue.headerBlogPost {
		min-height: 380px;
	}

	.headerHome h2 span{display:none;}

	div.letterSeperator{
		width: 100%;
	}

	.newBlogList #blogGridList{
		margin:30px 2% 30px 3.5%;
		overflow:hidden;

		article{
			width: 98%;
			border:1px solid white;
			margin-bottom:25px;
			max-height:260px;

			p{
				display:none;
			}
		}
	}

	.modernBlogNav .grid li{
		width:100%;
	}


}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}


.blogPost pre {
	background-color:#333;
	padding: 20px;
	margin-bottom:30px;
	font-size: 14px;
	color: lighten($goldyLocks, 20%);
	line-height: 1em;
	word-wrap:break-word;
	@include goldenDrop;
}