<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Jesse Showalter UI/UX</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="Jesse Showalter, Blog, Designer, Developer, UI, UX, Jesse Showalter Designs, Web Design, Graphic Design, Branding, Logo, Interface Design, User Experience Design, Front-End Development">
	<meta name="description" content="Jesse Showalter is a Designer and front end developer specilizing in web user interfaces and user experiences. He designs, he codes, and is available for work.">
	<meta http-equiv="Content-Language" content="EN">
	<meta name="author" content="Jesse Showalter">
	<meta name="copyright" content="Copyright Jesse Showalter">
	<meta name="robots" content="follow,index">
	
	<!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
	
	<!-- Your styles -->
	<link rel="stylesheet" href="assets/css/styles_new.css" type="text/css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700|Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="container container_blue headerBlog">
	<nav>
		<a class="brand" href="index.html"><h1>Jesse Showalter</h1></a>
		<ul>
			<li><a href="about.html">Info</a></li>
			<li><a href="blog.html">Articles</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="#go" class="show_hide"></a></li>
		</ul>
	</nav>
  	<ul class="socialIcons">
    	<li><a class="hide-text twitter" href="#">Twitter</a></li>
	    <li><a class="hide-text forrst" href="#">Forrrst</a></li>
		<li><a class="hide-text dribbble" href="#">Dribble</a></li>
	</ul>
</div>
<div class="container mainBody">
	<div id="riseUpTwo">
		<div class="row">
			<div class="twelvecol newBlogList">

			<div id="blogGridList">
					<article>
    <a href="articles/modx-part-6/">
    <h2>MODX Implementation Part 6 - Making custom template variables with MIGX</h2>
    <time datetime="Apr 09, 2014">Apr 09, 2014</time>
	<p>Part six in a series where I show you how to implement a static HTML and CSS template into MODX. In this fifth video we cover the MIGX package and basic implementation of custom template variables.</p>
	<!-- <h6>cms,css,development,how to,modx,web development</h6> displays the tags from the post (still need to work on this)-->
    </a> 
</article>
<article>
    <a href="articles/modx-and-godaddys-shared-hosting/">
    <h2>MODX and Godaddy's Shared Hosting</h2>
    <time datetime="Jan 29, 2014">Jan 29, 2014</time>
	<p>An issue can arise when using MODX on Godaddy's shared hosting service. The blank screen is more than frustrating, but with a quick fix in the database you will be up and running in no time.</p>
	<!-- <h6></h6> displays the tags from the post (still need to work on this)-->
    </a> 
</article>
<article>
    <a href="articles/speed-vs-design-the-great-showdown/">
    <h2>Speed Vs. Design The Great Showdown</h2>
    <time datetime="Jan 22, 2014">Jan 22, 2014</time>
	<p>In this mobile web generation where users think faster, know more, and expect even more. When is it alright to sacrifice your design for speed? and when isn't it?</p>
	<!-- <h6>performance,speed,,design,css,web development</h6> displays the tags from the post (still need to work on this)-->
    </a> 
</article>
<article>
    <a href="articles/amy-learns-nerd/">
    <h2>Amy Learns Nerd</h2>
    <time datetime="Jan 03, 2014">Jan 03, 2014</time>
	<p>My wife and I started a new project together. Get ready, are you ready? It's a Podcast. I know lame right, but through this podcast my wife is learning how to write code and be a nerd. Check it out and subscribe at amylearnsnerd.com</p>
	<!-- <h6>podcast,nerd,,development,code,education,itunes,</h6> displays the tags from the post (still need to work on this)-->
    </a> 
</article>
<article>
    <a href="articles/modx-part-5/">
    <h2>MODX Implementation Part 5 - Wayfinder Navigation</h2>
    <time datetime="Dec 10, 2013">Dec 10, 2013</time>
	<p>Part five in a series where I show you how to implement a static HTML and CSS template into MODX. In this fifth video we cover the Wayfinder package and basic implementation of dynamic navigation.</p>
	<!-- <h6>cms,css,development,how to,modx,web development</h6> displays the tags from the post (still need to work on this)-->
    </a> 
</article>
<article>
    <a href="articles/modx-part-4/">
    <h2>MODX Implementation Part 4 - getResources</h2>
    <time datetime="Nov 20, 2013">Nov 20, 2013</time>
	<p>Part four in a series where I show you how to implement a static HTML and CSS template into MODX. In this fourth lesson we cover basic usage of the getResources extra offered in MODX to pull content from one resource into another.</p>
	<!-- <h6>cms,css,development,how to,modx,web development</h6> displays the tags from the post (still need to work on this)-->
    </a> 
</article>
<article>
    <a href="articles/modx-part-3/">
    <h2>MODX Implementation Part 3 - Advanced Chunks &amp; TV's</h2>
    <time datetime="Nov 13, 2013">Nov 13, 2013</time>
	<p>Part three in a series where I show you how to implement a static HTML and CSS template into MODX. In this third lesson we cover some advanced Chunk and Template Variables methods.</p>
	<!-- <h6>cms,css,development,how to,modx,web development</h6> displays the tags from the post (still need to work on this)-->
    </a> 
</article>
<article>
    <a href="articles/modx-part-2/">
    <h2>MODX Implementation Part 2 - Settings, Chunks &amp; TV's</h2>
    <time datetime="Nov 06, 2013">Nov 06, 2013</time>
	<p>Part two in a series where I show you how to implement a static HTML and CSS template into MODX. In this second lesson we cover basic settings, packages, chunks and TV's(template variables)</p>
	<!-- <h6>cms,css,development,how to,modx,web development</h6> displays the tags from the post (still need to work on this)-->
    </a> 
</article>
<article>
    <a href="articles/the-websites/blogs-that-i-depend-on-for-sound-advice-and-fresh-inspiration/">
    <h2>The sites I depend on for sound advice and fresh inspiration</h2>
    <time datetime="Nov 03, 2013">Nov 03, 2013</time>
	<p>Whether you work freelance, at a large agency, or as part of a small team, you should always be seeking out people who are better at what you do than you are. If you can't find people who are better than you that means your either the best, in denial or dead.</p>
	<!-- <h6>design,development,inspiration,blogs</h6> displays the tags from the post (still need to work on this)-->
    </a> 
</article>
<article>
    <a href="articles/modx-part-1/">
    <h2>MODX Implementation Part 1 - Installation, basic tour, and simple content.</h2>
    <time datetime="Nov 01, 2013">Nov 01, 2013</time>
	<p>Part one in a series where I show you how to implement a static HTML and CSS template into MODX. In this first lesson we cover basic information, installation, basic manager tour, and simple implementation of content.</p>
	<!-- <h6>cms,css,development,how to,modx,web development</h6> displays the tags from the post (still need to work on this)-->
    </a> 
</article>
<article>
    <a href="articles/modx/">
    <h2>This Portfolio runs on MODX</h2>
    <time datetime="Oct 27, 2013">Oct 27, 2013</time>
	<p>Everybody and there brothers second uncle has heard of Wordpress, but friends don't let friends use Wordpress or any of the other frustrating CMS's. See why MODX is pretty much always the right choice for me</p>
	<!-- <h6>web development,modx,cms,wordpress</h6> displays the tags from the post (still need to work on this)-->
    </a> 
</article>
<article>
    <a href="articles/local-production-environment/">
    <h2>How To: Set up a Local Production Environment</h2>
    <time datetime="Sep 03, 2013">Sep 03, 2013</time>
	<p>A step by step set up of a local web development, production environment using MAMP Pro, Github and a few simple settings. Develop your sites on your own machine and then launch them with a bang.</p>
	<!-- <h6>web development,mamp,github,how to</h6> displays the tags from the post (still need to work on this)-->
    </a> 
</article>
<article>
    <a href="articles/sublimetext/">
    <h2>My Top 6 Favorite Sublime Text Plugins</h2>
    <time datetime="May 01, 2013">May 01, 2013</time>
	<p>Sublime Text is without a doubt my text editor of choice. It's fast, lightweight and feature rich. Here is a quick collection of some of my favorite plugins that really speed up my workflow and make life easier.</p>
	<!-- <h6></h6> displays the tags from the post (still need to work on this)-->
    </a> 
</article>
<article>
    <a href="articles/incontrol/">
    <h2>inControl Honolulu 2012</h2>
    <time datetime="Dec 20, 2012">Dec 20, 2012</time>
	<p>I had the great privilege to attend the inControl Honolulu web conference over the holidays. It was an awesome conference with amazing guest speakers such as Chris Coyier, Dave Rupert, Estelle Weyle...</p>
	<!-- <h6>incontrol,css,html,conference,design,development,how to</h6> displays the tags from the post (still need to work on this)-->
    </a> 
</article> 
				</div>



				<article>
					<div class="container">
						<div class="row">
							<div class="fourcol">
								<a href="blogPost.html"><img src="articles/sass/banner.jpg" alt=""></a>
							</div>
							<div class="eightcol last">
								<a href="blogPost.html"><h2>SASS'in it up</h2></a>
								<time datetime>January 14th, 2012</time>
								<p><strong>L</strong> latley all anyone can talk about is "SASS", oh la la, sassy CSS, what's the big whoop de doo? I'll tell you what the big whoopde do is, It's absolutley amazing <a href="blogPost.html"> ...Read More</a></p> 
							</div>
						</div>
					</div>
				</article>

				<article>
					<div class="container">
						<div class="row">
							<div class="fourcol">
								<a href="blogPost.html"><img src="articles/responsiveandadaptive/banner.jpg" alt=""></a>
							</div>
							<div class="eightcol last">
								<a href="blogPost.html"><h2>Responsive / Adaptive?</h2></a>
								<time datetime>February 24th, 2013</time>
								<p><strong>L</strong> latley all anyone can talk about is "SASS", oh la la, sassy CSS, what's the big whoop de doo? I'll tell you what the big whoopde do is, It's absolutley amazing <a href="blogPost.html"> ...Read More</a></p> 
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div> <!-- /riseUp -->
</div>
<footer class="container container_blue">
	<div class="row">
		<div class="fivecol twitter">
			<h3>The Twittersphere</h3>
			<div class="tweet"></div>
			<a href="#">@jesseatomic</a>
		</div>
		<div class="twocol backToTop">
			back to top
		</div>
		<div class="fivecol blogRoll last">
			<h3>The Rise of HTML5</h3>
			<p>The introduction of HTML5 started long ago with the incorporation of semantics from the W3C. The web community was in the dark ages...</p>
			<a href="#">Read this Article</a>
		</div>
	</div>
</footer>
	<script src="js/master.js"></script>
<p id="back-top">
	<a href="#top"><span></span></a>
</p>
</body>
</html>