<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Jesse Showalter UI/UX</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="Jimmygirl, Jesse Showalter, Designer, Developer, UI, UX, Jesse Showalter Designs, Web Design, Graphic Design, Branding, Logo, Interface Design, User Experience Design, Front-End Development">
	<meta name="description" content="Jesse Showalter is a Designer and front end developer specilizing in web user interfaces and user experiences. He designs, he codes, and is available for work.">
	<meta http-equiv="Content-Language" content="EN">
	<meta name="author" content="Jesse Showalter">
	<meta name="copyright" content="Copyright Jesse Showalter">
	<meta name="robots" content="follow,index">
	
	<!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
	
	<!-- Your styles -->
	<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700|Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="container container_blue headerWork">
	<div class="row">
		<div class="twelvecol">
			<nav>
				<a class="brand" href="index.html"><h1>Jesse Showalter</h1></a>
				<span>Jesse Showalter - EST.1984</span>
				<ul>
					<li><a href="about.html">Info</a></li>
					<li><a href="articles/index.html">Articles</a></li>
					<li><a href="contact.html">Contact</a></li>
					<!-- <li><a href="#go" class="show_hide"></a></li> -->
				</ul>
			</nav>
			<h2>A <a href="index.html">Project</a> I have worked on.</h2>
		</div>
	</div>
</div>
<div class="container mainBody project">
	<div id="riseUp">
		<!-- <a class="arrow prev" href="#"><span>Hawaii Theatre</span></a>
		<a class="arrow next" href="#"><span>Sasquatch Shades</span></a> -->
		<div class="row details">
			<div class="fourcol logo">
				<img src="projects/jimmygirl/logo.png" alt="JimmyGirl"><br>
				<a href="http://www.jimmygirl.co">www.jimmygirl.co</a>
			</div>
			<div class="eightcol last">
				<h2>JimmyGirl Identity and Branding</h2>
				<p>Jimmygirl creates, collects &amp; sells vintage decor with a pop of color. They were in need of a brand that exemplified that gusto to their patrons. Firm sans-serif type allows the tagline and accent chair to be playful &amp; energetic while keeping it's modern edge. Production included logo, brand guidlines, business cards, letterhead, and custom decals for their trailors. </p>
				<ul class="roles">
					<li>Branding</li>
					<li>Identity</li>
					<li>Marketing</li>
					<li>Graphic Design</li>
					<li>Web Design</li>
					<li>Front-End Development</li>
				</ul>
			</div>
		</div>
		<div class="row interiorInfo">
			<div class="twelvecol">
				<div class="flexslider">
				  <ul class="slides">
				  	<li><a href="http://www.jimmygirl.co"><img src="projects/jimmygirl/jimmygirl3.jpg"/></a></li>
				  	<li><a href="http://www.jimmygirl.co"><img src="projects/jimmygirl/jimmygirl1.jpg"/></a></li>
				  	<li><a href="http://www.jimmygirl.co"><img src="projects/jimmygirl/jimmygirl6.jpg"/></a></li>
				  	<li><a href="http://www.jimmygirl.co"><img src="projects/jimmygirl/jimmygirl2.jpg"/></a></li>
				  	<li><a href="http://www.jimmygirl.co"><img src="projects/jimmygirl/jimmygirl4.jpg"/></a></li>
				  	<li><a href="http://www.jimmygirl.co"><img src="projects/jimmygirl/jimmygirl5.jpg"/></a></li>
				  </ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="fourcol">
				<h2>Discovery is Key</h2>
				<p>JimmyGirl is a fantastic company making really cool products. They needed someone to take time and help them realize how cool their brand could be as well. When doing an identity project the Discovery phase is crucial to the creative process and a successful finished brand. It always helps when you have talented clients like the <a href="http://www.jimmygirl.co">JimmyGirl's</a> to collaborate with.</p>
			</div>
			<div class="eightcol last">
				<img src="projects/jimmygirl/exploration.jpg" alt="">
			</div>
		</div>
		<div class="row otherProjects">
			<h2>A few other projects to consider</h2>
			<div class="twelvecol">
				<section id="pattern" class="pattern">
					<ul class="grid">
						<li>
							<a href="augustine.html">
								<div>
									<img src="projects/augustine/logo.png" alt="">
									<h2>Augustine Foundation</h2>
									<h3>Development</h3>
								</div>
							</a>
						</li>
						<li>
							<a href="memorate.html">
								<div>
									<img src="projects/memorate/logo.png" alt="">
									<h2>Memorate.com</h2>
									<h3>UI/UX</h3>
								</div>
							</a>
						</li>
						<li>
							<a href="downbeat.html">
								<div class="omega">
									<img src="projects/downbeat/logo.png" alt="">
									<h2>Downbeat Diner</h2>
									<h3>Interface Design</h3>
								</div>
							</a>
						</li>
					</ul>
 				</section> <!-- /pattern -->
			</div> <!-- /twelvecol -->
		</div> <!-- /otherProjects -->
	</div>
</div>
<footer class="container container_blue">
	<div class="row">
		<div class="fivecol twitter">
			<h3>The Twittersphere</h3>
			<div class="tweet"></div>
			<a href="#">@jesseatomic</a>
		</div>
		<div class="twocol backToTop">
			back to top
		</div>
		<div class="fivecol blogRoll last">
			<h3>The Rise of HTML5</h3>
			<p>The introduction of HTML5 started long ago with the incorporation of semantics from the W3C. The web community was in the dark ages...</p>
			<a href="#">Read this Article</a>
		</div>
	</div>
</footer>
	<script src="js/master.js"></script>

<p id="back-top">
	<a href="#top"><span></span></a>
</p>
</body>
</html>