<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Jesse Showalter UI/UX</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="memorate, Jesse Showalter, Designer, Developer, UI, UX, Jesse Showalter Designs, Web Design, Graphic Design, Branding, Logo, Interface Design, User Experience Design, Front-End Development">
	<meta name="description" content="Jesse Showalter is a Designer and front end developer specilizing in web user interfaces and user experiences. He designs, he codes, and is available for work.">
	<meta http-equiv="Content-Language" content="EN">
	<meta name="author" content="Jesse Showalter">
	<meta name="copyright" content="Copyright Jesse Showalter">
	<meta name="robots" content="follow,index">
	
	<!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
	
	<!-- Your styles -->
	<link rel="stylesheet" href="assets/css/styles.css" type="text/css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700|Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
</head>

<body id="top">
<div class="container container_blue headerWork">
	<div class="row">
		<div class="twelvecol">
			<nav>
				<a class="brand" href="index.html"><h1>Jesse Showalter</h1></a>
				<span>Jesse Showalter - EST.1984</span>
				<ul>
					<li><a href="about.html">Info</a></li>
					<li><a href="articles/index.html">Articles</a></li>
					<li><a href="contact.html">Contact</a></li>
					<!-- <li><a href="#go" class="show_hide"></a></li> -->
				</ul>
			</nav>
			<h2>A <a href="index.html">Project</a> I have worked on.</h2>
		</div>
	</div>
</div>
<div class="container mainBody project">
	<div id="riseUp">
		<!-- <a class="arrow prev" href="#"><span>Hawaii Theatre</span></a>
		<a class="arrow next" href="#"><span>Sasquatch Shades</span></a> -->
		<div class="row details">
			<div class="fourcol logo">
				<img src="projects/memorate/logo.png" alt="memorate Airlines"><br>
				<a href="http://www.memorate.com">www.memorate.com</a>
			</div>
			<div class="eightcol last">
				<h2>Memorate</h2>
				<p>Memorate.com is an amazing new social network that empowers people to collaborate and share in eachothers stories, by co authoring stories with friends and family. They needed a fresh new look that would appeal to their target demographic while still staying relavent to all markets. I did a complete overhaul on there User Flow and Strategy while designing them a simple and stylized interface with and uncluttered and classic feel. <a href="http://cargocollective.com/Cartel66">Mario Quezada</a> collaborated on design , <a href="http://www.angelaneri.com">Angela Neri</a> assisted with Content Stratgey. All Work was done while at <a href="http://www.orangeroc.com">Orangeroc</a></p>
				<ul class="roles">
					<li>Strategic Direction</li>
					<li>User Experience Design</li>
					<li>Interface Design</li>
					<li>Front-End Development</li>
				</ul>
			</div>
		</div>
		<div class="row interiorInfo">
			<div class="twelvecol">
				<div class="flexslider">
				  <ul class="slides">
				  	<li><a href="http://www.memorate.com"><img src="projects/memorate/memorate.jpg"/></a></li>
				  	<li><a href="http://www.memorate.com"><img src="projects/memorate/memorate1.jpg"/></a></li>
				    <li><a href="http://www.memorate.com"><img src="projects/memorate/memorate2.jpg"/></a></li>
				    <li><a href="http://www.memorate.com"><img src="projects/memorate/memorate3.jpg"/></a></li>
				    <!-- <li><a href="http://www.memorate.com"><img src="projects/memorate/memorateTablet.jpg"/></a></li>
				    <li><a href="http://www.memorate.com"><img src="projects/memorate/memorateMobile.jpg"/></a></li> -->
				  </ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="fourcol">
				<h2>Worked and re-worked</h2>
				<p>This project had a large amount of user needs, on top of the complete interface overhaul I helped them completly re-work the user flow of their system. Most of the work was spent mapping out the user experience and flow of the interface. Countless hours were spent on the wipeboard creating and recreating wireframes, but I'm into that sort of thing.</p>
			</div>
			<div class="eightcol last">
				<img src="projects/memorate/flow.jpg" alt="">
			</div>
		</div>
		<div class="row otherProjects">
			<h2>A few other projects to consider</h2>
			<div class="twelvecol">
				<section id="pattern" class="pattern">
					<ul class="grid">
						<li>
							<a href="augustine.html">
								<div>
									<img src="projects/augustine/logo.png" alt="">
									<h2>Augustine Foundation</h2>
									<h3>Development</h3>
								</div>
							</a>
						</li>
						<li>
							<a href="memorate.html">
								<div>
									<img src="projects/memorate/logo.png" alt="">
									<h2>Memorate.com</h2>
									<h3>UI/UX</h3>
								</div>
							</a>
						</li>
						<li>
							<a href="downbeat.html">
								<div class="omega">
									<img src="projects/downbeat/logo.png" alt="">
									<h2>Downbeat Diner</h2>
									<h3>Interface Design</h3>
								</div>
							</a>
						</li>
					</ul>
 				</section> <!-- /pattern -->
			</div> <!-- /twelvecol -->
		</div> <!-- /otherProjects -->
	</div>
</div>
<footer class="container container_blue">
	<div class="row">
		<div class="fivecol twitter">
			<h3>The Twittersphere</h3>
			<div class="tweet"></div>
			<a href="#">@jesseatomic</a>
		</div>
		<div class="twocol backToTop">
			back to top
		</div>
		<div class="fivecol blogRoll last">
			<h3>The Rise of HTML5</h3>
			<p>The introduction of HTML5 started long ago with the incorporation of semantics from the W3C. The web community was in the dark ages...</p>
			<a href="#">Read this Article</a>
		</div>
	</div>
</footer>
	<script src="js/master.js"></script>

<p id="back-top">
	<a href="#top"><span></span></a>
</p>
</body>
</html>